# Python virtual environment
myvenv/
venv/
.venv/

# Environment variables
.env
.env.*
!.env.example

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / VS Code
.vscode/
.idea/

# Python build files
build/
dist/
*.egg-info/

# Temporary files
*.tmp
*.temp